<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main>
      <div>
       <h1>
          A card just for you!
        </h1>
        <h3>
          Can you uncover the message in under 5 clicks?
        </h3>
        <h4>
         <div id="clickcounttext"></div>
        </h4>
      </div>
      <div class="test">
        <div id="cardcopy">
          Surprise! Good ride. 
        </div>
      </div>
      <div class="buttonTestArea">
        <table>
        <tr>
        <td><button class="buttonTest">Testing this out x1!</button></td>
        <td><button class="buttonTest">Testing this out x2!</button></td>
        <td><button class="buttonTest">Testing this out xA!</button></td>
        </tr>
        <tr>
        <td><button class="buttonTest">Testing this out x3!</button></td>
        <td><button class="buttonTest">Testing this out x4!</button></td>
        <td><button class="buttonTest">Testing this out xB!</button></td>
        </tr>
        <tr>
        <td><button class="buttonTest">Testing this out x5!</button></td>
        <td><button class="buttonTest">Testing this out x6!</button></td>
        <td><button class="buttonTest">Testing this out xC!</button></td>
        </tr>
        <tr>
        <td><button class="buttonTest">Testing this out x7!</button></td>
        <td><button class="buttonTest">Testing this out x8!</button></td>
        <td><button class="buttonTest">Testing this out xD!</button></td>
        </tr>
        <tr>
        <td><button class="buttonTest">Testing this out x9!</button></td>
        <td><button class="buttonTest">Testing this out x10!</button></td>
        <td><button class="buttonTest">Testing this out xE!</button></td>
        </tr>
        <tr>
        <td><button class="buttonTest">Testing this out x9!</button></td>
        <td><button class="buttonTest">Testing this out x10!</button></td>
        <td><button class="buttonTest">Testing this out xE!</button></td>
        </tr>
        <tr>
        <td><button class="buttonTest">Testing this out x9!</button></td>
        <td><button class="buttonTest">Testing this out x10!</button></td>
        <td><button class="buttonTest">Testing this out xE!</button></td>
        </tr>
          </table>
      </div>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>
    
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js"></script>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
    
  </body>
</html>
